.header {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100vw;
  box-shadow: 0px 5px 10px #0D3F67;
}

.logo {
    /* -webkit-text-stroke-color: #0D3F67;
    -webkit-text-stroke-width: 2px; */
    text-shadow: 3px 3px 3px #0D3F67;
    font-family: 'Archivo Black', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #F2F4F6;
}

.header ul {
    display: flex;
    list-style-type: none;
    font-weight: 400;
    font-size: 1rem;
  }

.header li a {
    padding: 1em;
    color: #0D3F67;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.header li:hover,
.header li:active{
    transform: scale(1.2)
}

.header li a:hover,
.header li a:active{
    color: #1EE3CF;
}

/* hr {
    border: 1px solid #6B48FF;
    opacity: 0.6;
    width: 80vw;
} */