.projects{
    background: #6B48FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #1EE3CF, #6B48FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1EE3CF, #0D3F67); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    text-align: center;
}

.projects h2 {
    color: #F2F4F6;
}