*  {
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #F2F4F6;
}

section {
  padding-bottom: 3em;
}

h2 {
  margin-top: 1em;
  font-size: 2rem;
  text-transform: uppercase;
}

h2,
h3 {
  text-shadow: #0D3F67 4px 4px 4px;
  font-family: 'Archivo Black', sans-serif;
  margin-bottom: 1.5em;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  text-decoration: none; 
  cursor: pointer;
}

.links-block {
  margin-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  color: #0D3F67;
  background-color: #F2F4F6;
  text-transform: uppercase;
  margin: 0.5em;
  padding: 0.8em;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: 0px 5px 10px #0D3F67;
  border-radius: 20px;
}

.btn:hover {
  background-color: #0D3F67;
  color: #F2F4F6;
  border: 2px solid #F2F4F6;
}

@media (min-width: 635px) {

  .logo {
    font-size: 2rem;
    margin-left: 1.5rem;
  }

  .nav .menu-icon  {
    width: 2.2em;
    margin-right: 1.5em;
  }

  .menu-icon span {
    height: 5px;
  }

  .menu-icon span:nth-child(2) {
    top: 0.6em;
  }
  
  .menu-icon span:nth-child(3) {
    top: 1.22em;
  }
  
  .about .blob {
    margin-top: 7em;
    height: 105%;
  }

  .about {
    padding-bottom: 5em;
  }

  .about p {
    line-height: 2rem;
  }

  .tech-card {
    width: 6.5em;
    height: 6.5em;
    margin: 1em;
  }

  .tech .icon {
    height: 2.5em;
    width: auto;
}

form .sender-info input {
  width: 45%;
}

.contact .sender-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact form textarea {
  height: 15em;
}

footer .social-icon  {
  font-size: 1.2em;
}

}